body {
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

.App {
  font-family: sans-serif;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "header header" "nav content";
}

.header {
  color: white;
  background: #3498db;
  grid-area: header;
}

.page-title {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 60px;
  padding: 0 10px;
}

.nav {
  grid-area: nav;
  border-right: 1px solid #3498db;
}

.nav-link {
  padding: 10px;
  display: block;
}

.content {
  grid-area: content;
  text-align: left;
}

.tab-view {
  width: 400px;
  border: 1px solid #ccc;
  margin: 20px 0;
}

.tabs {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.tab {
  margin: 0;
  flex: 1;
  text-align: center;
  line-height: 40px;
}

.tab-content {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.placeholder {
  border: 1px dashed #ccc;
  padding: 30px;
  width: 300px;
  text-align: center;
}
